/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #62306d
  Yellow: #fff1c1
  Red: #fe5f55
*/

.box {
  background-color: #293462;
}

.head {
  overflow: hidden;
  position: relative;
  height: 200px;
  width: 200px;
  background-color: #fe5f55;
  margin-inline: auto;
  top: 50px;
  border-radius: 50% 50% 24% 24%;
}

.head::after {
  position: absolute;
  content: '';
  width: 90px;
  height: 90px;
  background-color: #fff1c1;
  border-radius: 50%;
  top: -42px;
  left: 10px;
  box-shadow: 90px 0 #fff1c1, -5px 117px 0 -15px #fff1c1, 95px 117px 0 -15px #fff1c1;
}

.head::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 10px;
  background-color: #fff1c1;
  top: 170px;
  left: 80px;
  border-radius: 20px;
}
