/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #6592CF
  Dark blue: #243D83
*/

.box {
  background-color: #6592cf;
}

.square {
  position:relative;
  height: 147px;
  width: 147px;
  background-color:#6592CF;
  margin-inline: auto;
  top: 76px;
  rotate: 15deg;
}
.square::after {
  position:absolute;
  content: '';
  height: 300px;
  width: 300px;
  background-color: #243D83;
}
